html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Scoreboard */
.score-board {
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    font-size: 30px;
}

.player-score, .pc-score {
    display: flex;
    gap: 20px;
}

.score {
    display: flex;
    justify-content: center;
    width: 40px;
    background-color: rgb(237, 237, 237);
}
/* Scoreboard End */

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    gap: 60px;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    border: none;
}

#but_one {
    background-color: rgb(34, 89, 255);
}

#but_two {
    background-color: rgb(216, 147, 19);
}

#but_three {
    background-color: rgb(59, 201, 59);
}
/* Buttons End */

.results {
    width: 600px;
    align-self: center;
    font-size: 20px;
    text-align: center;
}